.App {
  text-align: center;
  height: 66vh;
  width: 50vw;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
